autostart/
dconf/
discord/
pipewire/
pulse/
spotify/
systemd/
tuxedo-control-center/
nvim/
pavucontrol.ini
rncbc.org/
QtProject.conf
Thunar/
flowblade/
mimeapps.list
xfce4/
Slack/
1Password/
BraveSoftware/
chromium/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
microsoft-edge-dev/
vivaldi-snapshot/
vivaldi/
zoom.conf
zoomus.conf
